.back-link {
   font-size: 1.8rem;
   color: var(--primary-active);
   font-weight: 600;
   margin-left: -1em;
   margin-bottom: 8px;
   gap: 0.1em;
}

.back-link svg {
   width: 1.2em;
   height: 1.2em;
}

.back-link .text {
   position: relative;
   line-height: 1.2;
}

.back-link .text::after {
   content: '';
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   height: 1px;
   background: var(--primary-active);
}

@media (max-width: 1536px) {
   .back-link {
      margin-left: unset;
   }
}

@media (max-width: 480px) {
   .back-link {
      margin-bottom: 16px;
   }
}

.single-attraction__section {
   padding-left: 24px;
   padding-right: 24px;
}

.single-attraction__content-inner {
   column-gap: 30px;
   padding: 40px 0;
}

.single-attraction__content-inner {
   position: relative;
   display: grid;
   grid-template-columns: 1fr 450px;
}

.trvlr-attraction__icon-text {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 0.2em;
}