.modal-dialog {
   padding: 0;
   border: none;
   border-radius: 0.375rem;
   box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
   width: 95vw;
   height: 95vh;
   max-width: 1280px;
   max-height: 1280px;
   background-color: #fff;
   overflow: hidden;
   position: fixed;
   display: flex;
   flex-direction: column;
}

.iframe-cont {
   width: 100%;
   height: 100%;
}

.modal-dialog iframe {
   width: 100%;
   height: 100%;
}

.modal-dialog:not([open]) {
   display: none;
}

.modal-dialog[open] {
   animation: modal-opening 0.3s ease-out;
}

.modal-dialog[open].closing {
   animation: modal-closing 0.2s ease-in forwards;
}

.modal-dialog::backdrop {
   background-color: rgba(0, 0, 0, 0.5);
   -webkit-backdrop-filter: blur(2px);
   backdrop-filter: blur(2px);
   cursor: pointer;
}

@keyframes modal-opening {
   from {
      opacity: 0;
      transform: scale(0.95);
   }

   to {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes modal-closing {
   from {
      opacity: 1;
      transform: scale(1);
   }

   to {
      opacity: 0;
      transform: scale(0.95);
   }
}

#checkout-modal-iframe {
   position: fixed;
   bottom: 22px;
   height: 66px;
   width: 300px;
   right: 10px;
}

.payment-confirmation-wrapper {
   width: 100%;
   height: 100vh;
   position: relative;
}

#payment-confirmation-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 9999;
}

#payment-confirmation-iframe {
   width: 100%;
   height: 100vh;
   border: none;
}

.admin-bar #payment-confirmation-container {
   top: 32px;
   height: calc(100vh - 32px);
}

.admin-bar #payment-confirmation-iframe {
   height: calc(100vh - 32px);
}

@media (max-width: 782px) {
   .admin-bar #payment-confirmation-container {
      top: 46px;
      height: calc(100vh - 46px);
   }

   .admin-bar #payment-confirmation-iframe {
      height: calc(100vh - 46px);
   }
}