@use "../trvlr-mixins" as *;

/**
 * ----------------------------------------
 * TRVLR Theme Variant 1 Styles
 * ----------------------------------------
 */

@layer components {
:root {
	--trvlr-gallery-media-radius: 10px;
	--trvlr-title-color: var(--trvlr-color-secondary);

	--trvlr-badge-radius: 50px;
	--trvlr-badge-font-size: 12px;

	--trvlr-sale-badge-foreground: #fff;

	--trvlr-accordion-trigger-color: var(--trvlr-color-secondary);

	
	--trvlr-single-content-padding-y: 30px;
	--trvlr-single-sidebar-padding-left: 60px;

	--trvlr-h1: 52px;

	--trvlr-single-sidebar-sticky-top: 70px;
	--trvlr-single-sidebar-width: 500px;
    --trvlr-single-sidebar-padding-left: 50px;

	--trvlr-single-sidebar-inner-padding: 0 0 24px;
	--trvlr-single-sidebar-inner-background: var(--trvlr-color-background);
	--trvlr-single-sidebar-inner-border: 1px solid var(--trvlr-color-border);
	--trvlr-single-sidebar-inner-radius: 10px;
	--trvlr-single-sidebar-inner-padding: 18px 14px;

	--trvlr-price-value-color: #000;
    --trvlr-price-font-size: 30px;
    --trvlr-price-font-weight: 700;
    --trvlr-price-line-height: 1.2;

	--trvlr-booking-button-radius: 5px;
	--trvlr-booking-button-font-weight: 500;
    --trvlr-booking-button-padding: 18px 44px;

    --trvlr-price-type-font-size: 16px;
    --trvlr-price-type-font-weight: 400;

	@include responsive_value(--trvlr-h1, 28, 60);
}
}

.trvlr-single-attraction {
	background: #f9fafb;
}

/**
 * ----------------------------------------
 * Card Styles
 * ----------------------------------------
 */

.trvlr--theme-1 .trvlr-card {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	background: transparent;
	border-radius: 8px;
	padding: 4px;
	font-family: var(--trvlr-font-family);
	position: relative;
	z-index: 0;

	&:has(.trvlr-title a:focus-visible) {
		outline: 2px solid var(--trvlr-color-primary-hover);
	}

	&__image-wrap {
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-radius: 8px;
		aspect-ratio: 1.5;
		flex-grow: 1;
		height: unset;
		margin-bottom: 10px;
	}

	&__image {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		transition:
			filter 0.4s ease,
			transform 0.4s ease;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__footer {
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		gap: 10px;
	}

	&__price {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 6px;
	}

	&__button {
		position: relative;
		display: flex;
		align-items: center;
		color: var(--trvlr-color-primary);
		letter-spacing: var(--trvlr-heading-letter-spacing);
		font-family: var(--trvlr-font-family);
		background: none;
		border: none;
		line-height: 1;
		height: auto;
		padding: 0;
		font-weight: 700;
		font-size: 18px;
		z-index: 10;
		gap: 0.2em;
		cursor: pointer;

		svg {
			fill: var(--trvlr-color-primary);
			width: 1.2em;
			height: 1.2em;
		}
	}

	.trvlr {
		&-popular-badge {
			&__icon {
				width: 16px;
				height: 16px;
			}
		}

		&-title {
			font-size: 18px;
			line-height: 1.33;
			font-weight: 600;
			text-wrap: balance;
			margin: 0;
			margin-bottom: 8px;

			a {
				text-decoration: underline;
				text-decoration-thickness: 1px !important;
				color: var(--trvlr-color-foreground);

				&:focus-visible,
				&:hover {
					outline: none !important;
					color: var(--trvlr-color-foreground);
				}

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: 0;
				}
			}
		}

		&-duration {
			gap: 6px;
			font-size: 16px;
			color: var(--trvlr-color-foreground-muted);

			svg {
				width: 18px;
				height: 18px;
				fill: var(--trvlr-card-icon-color);
			}
		}

		&-price {
			font-size: 20px;
			line-height: 1.2;
			font-weight: 700;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 2px;
			align-items: baseline;

			&__value {
				letter-spacing: var(--trvlr-heading-letter-spacing);
			}

			&__type {
				font-size: 14px;
				line-height: 1;
				font-weight: 600;
				color: var(--trvlr-color-foreground-muted);
			}
		}
	}

	@container (max-width: 560px) {
		display: grid;
		grid-template-columns: 30vw 1fr;
		align-items: stretch;
		gap: 15px;

		&__image-wrap {
			aspect-ratio: 1.2;
			margin-bottom: 0;
		}

		&__content {
			padding: 10px 0;
		}

		&__meta {
			flex-grow: 1;
		}

		&__footer {
			flex-wrap: wrap;
			gap: 5px;
		}

		&__button {
			font-size: 16px;
		}

		.trvlr {
			&-title {
				font-size: 16px;
			}

			&-price {
				font-size: 16px;
			}

			&-sale__badge {
				padding: 2px 10px;
			}

			&-duration {
				font-size: 14px;
			}

			&-popular-badge {
				left: 0;
				top: 0;
				font-size: 14px;
				align-items: center;
				justify-content: center;
				right: 0;
				border-radius: 0;
			}
		}
	}
}

/**
* ----------------------------------------
* Single Attraction Template Styles
* ----------------------------------------
*/

.trvlr--theme-1 .trvlr-single-attraction {
	
	--trvlr-sale-badge-font-size: 16px;
	--trvlr-sale-badge-font-weight: 600;
	padding: var(--trvlr-single-content-padding-y) 0;

	&__main {
		overflow: hidden;

		padding-left: var(--trvlr-content-gutter);

		@media (max-width: 900px) {
			padding: 0 var(--trvlr-content-gutter);
		}

		.trvlr {
			&-price {
				display: none;
			}

			&-booking-button {
				display: none;
			}
		}
	}

	&__sidebar {
		.trvlr-price {
			margin-bottom: 10px;
		}
	}

	&__meta {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin-bottom: 25px;
	}

	.trvlr {
		&-back-link {
			margin-bottom: 30px;
		}

		&-title {
			line-height: 1.1;
			font-weight: 700;
			margin: 0;
			margin-bottom: 20px;
		}

		&-gallery {
			margin-bottom: 30px;
		}

		&-short-description {
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 20px;
		}
		
		&-description {
			font-weight: 500;
			font-size: 18px;
			margin-bottom: 30px;
		}
	}

	@media (max-width: 900px) {
		--trvlr-single-content-max-width: 768px;
		.trvlr-sidebar-layout, .trvlr-container {
			--trvlr-single-content-max-width: 768px;
			margin-inline: auto;
		}
	
		.trvlr-single-attraction__sidebar {
			display: none;
		}
	
		&__main {
			.trvlr {
				&-price {
					display: block;
				}
	
				&-booking-button {
					display: block;
				}
			}
		}
	}
}
