/**
* ----------------------------------------
* Single Attraction Template Styles
* ----------------------------------------
*/

.trvlr-single-attraction {

   &__section {
      padding-left: 24px;
      padding-right: 24px;
   }

   &__inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1340px;
      margin: 0 auto;
      column-gap: 30px;
      padding: 40px 0;
   }

   &__content {}

   &__columns {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 450px;
      column-gap: 60px;
   }

   &__main {
      overflow: hidden;
   }

   &__meta {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 25px;
   }

   &__sidebar {

      &-inner {
         position: sticky;
         top: 40px;
         height: fit-content;
         border-radius: 10px;
         padding: 16px;
         border: 1px solid #ddd;

         >* {
            margin-bottom: 10px;

            &:last-child {
               margin-bottom: 0;
            }
         }
      }

      iframe {
         width: 100% !important;
      }
   }

   .trvlr {

      &-back-link {
         margin-bottom: 30px;
      }

      &-title {
         font-size: 52px;
         line-height: 1.1;
         font-weight: 700;
         margin: 0;
         margin-bottom: 20px;
      }

      &-gallery {
         margin-bottom: 30px;
      }

      &-short-description {
         margin-bottom: 20px;
      }

      &-description {
         margin-bottom: 30px;
      }

   }

}