#wpcontent {
   padding-left: 0 !important;
}

#wpbody-content>.wrap {
   margin: 0 !important;
   font-family: "Inter", sans-serif;
}

.trvlr-header {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   background: white;
   padding: 15px;
}

.trvlr-logo {
   max-width: 200px;
   height: auto;
}

h1.trvlr-title {
   font-size: 34px;
   line-height: 1;
   text-transform: uppercase;
   font-weight: 800;
   margin-left: 15px;
   padding: 0;
   color: #3f91ac;
   letter-spacing: -0.02em;
}

.trvlr-content {
   padding: 10px 20px;
}

.trvlr-content h2 {
   font-size: 1.8em;
}

.trvlr-separator {
   margin: 30px 0;
}

.trvlr-quick-setup {
   margin: 20px 0;
}

.trvlr-instructions {
   background: #f9f9f9;
   padding: 20px;
   border-left: 4px solid #0073aa;
}

.trvlr-list {
   list-style-type: disc;
   margin-left: 20px;
}

.trvlr-code {
   background: white;
   padding: 10px;
   border: 1px solid #ddd;
   overflow-x: auto;
}

.trvlr-code-simple {
   background: white;
   padding: 10px;
   border: 1px solid #ddd;
}